@font-face {
    font-family: 'CMURoman';
    src: url(../fonts/cmunrm.woff2);
}

html,
body {
    font-family: 'CMURoman';
    background-color: #728b72;
    color: #252324;
    font-size: 18px;
    font-style: bold;
    margin: 0.5vmax;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    margin: 0%;
}

header {
    display: grid;
    grid-template-columns: 1fr 9fr;
    /* grid-template-rows: auto; */
    gap: 5vw;
}
header .icon {
    max-width: 10vmax;
    display: flex;
    align-items: center;
}
header .headline {
    max-width: 100%;
    display: flex;
    align-items: center;
}
main {
    align-items: center;
    flex: 1;
}

footer {
    display: grid;
    grid-template-rows: auto 1fr;
}
footer .badges img {
    max-height: 10vmax;
}
footer .copyright {
    font-size: 12px;
}